body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #121212;
}

#game-board {
    background: rgb(234, 234, 234);
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: rgb(52, 184, 52);
}

.food {
    background: rgb(178, 20, 2);
    border-radius: 50%;
    width: 75%;
    height: 75%;
    margin: auto;
}